@page "/about"

<h1>SCM</h1>

<p>SCM wokrs hard to package and build code for production. They also assist with configuration management and other important tasks like code merging.</p>

<h2>The Team</h2>
<ol>
    <li>
        <b>Tom Croll:</b> Manager
    </li>
    <li style="padding-left:1.5px;">
        <b>Dan Carson:</b> Software Config Analyst
    </li>
    <li>
        <b>Sandeep Sakinala:</b> Software Config Analyst
    </li>
</ol>